<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mqtt.mapper.IotMqttTopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.web.common.iot.mqtt.IotMqttTopicEntity">
        <id column="topic_id" property="topicId" />
        <result column="topic_qos" property="topicQos" />
        <result column="topic_name" property="topicName" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        
        <result column="qosName" property="qosName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        topic_id, topic_qos, topic_name, del_flag, create_user_id, create_time, update_user_id, update_time
    </sql>

	<!-- 获取主题信息列表 -->
	<select id="getTopicList" resultMap="BaseResultMap">
		SELECT a.id,
		a.topic_qos,
		a.topic_name,
		b.label qosName
		FROM iot_mqtt_topic a
		LEFT JOIN basic_sys_dict b ON a.topic_qos = b.value AND b.type = 'mqtt_qos'
		WHERE a.del_flag = 0
		<if test="condition.topicName != null and condition.topicName != ''">
			AND a.topic_name LIKE #{condition.topicName}
		</if>
	</select>
</mapper>
