<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.basic.mapper.BasicSysDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.web.common.basic.entity.BasicSysDict">
        <id column="main_id" property="mainId" />
        <result column="value" property="value" />
        <result column="label" property="label" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="change_user_id" property="changeUserId" />
        <result column="change_time" property="changeTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        main_id, value, label, type, description, sort, status, create_user_id, create_time, change_user_id, change_time
    </sql>
	
	<!-- 获取字典分页列表 -->
	<select id="getDictList" resultMap="BaseResultMap">
		SELECT * 
		FROM basic_sys_dict
		WHERE del_flag = 0
		<if test="condition.type != null and condition.type != ''">
			AND type LIKE #{condition.type}
		</if>
		<if test="condition.label != null and condition.label != ''">
			AND label LIKE #{condition.label}
		</if>
		ORDER BY type ASC,sort ASC
	</select>
</mapper>
